#left {
  float: left;
  height: 1440px;
  width: 10%;
  position: relative;
  top: 64px;
}
#right {
  float: right;
  height: 1440px;
  width: 90%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
#top {
  height: 5%
}
.app {
  width: 2560px;
  height: 1440px;
}
.MuiDrawer-paper {
  margin-top: 2.7%;
}