#left {
  float: left;
  height: 1440px;
  width: 10%;
}
#right {
  float: right;
  height: 1440px;
  width: 90%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
#top {
  height: 5%
}
.MuiDrawer-paper {
  margin-top: 2.7%;
}
#avatar {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;     /* 垂直居中 */
}